@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --bg-color: #242424;
    --second-color: #52e2a4;
    --main-color: #393939;
    --btn-color: #3fb180;
    --font-color: #ececec;
}
.block-title{
    text-transform:capitalize;
    display: block;
    text-align: center;
}
.btn-grean{
    background-color: var(--btn-color);
}
.btn-grean:hover{
    background-color: var(--second-color);
}
/* .title::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100px;
    height: 3px;
    background-color: red;
    
} */


/* =========================================================== */

body{
    /* background-color:var(--bg-color) ; */
    color: var(--font-color);
    position: relative;
}

/* ============================== start aside ============================== */

aside{
    width: 25vw;
    height: 100vh;
    background-color: var(--main-color);
    
    
}

aside .img{
    width: 300px;
    height: 300px;
    background-image:url("../img/ibrahim_kurut1.jpeg");
    background-size: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;    
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    /* outline: 5px solid rgb(172, 172, 172); */
    margin-bottom: 3rem;
}
aside .img img{
    width: 100%;
    
}
aside .header h1{
    font-size: 2rem;
    margin-top: -2.5rem;
    text-transform: capitalize;
    
}
aside .header .socail{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    
}
aside .header .socail a{
    color: rgb(116, 116, 116);
    transition: .3s ease;

}
aside .header .socail a:hover{
    color:var(--second-color);
}
/* ============================== end aside ============================== */

.continer{
    width: 75vw;
    height: 100vh;
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    top: 0;
}
.continer .show{
    display: block;
}
.block{
    display: none;
}


.content-block{
    width: 95%;
    height: 95vh;
    border: 1px solid violet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-block p{
    padding: 0 1rem;
    text-transform: capitalize;
}
#portfolio .block-body{
    display: flex;
    justify-content: space-around;
}
#portfolio .card{
    background-color: var(--main-color);
}

#portfolio .card-body{
    background-color: var(--main-color);
}
#contact .block-body form{
    width: 60%;
    margin: 0 auto;
}
#contact .block-body input{
    background-color: rgb(172, 172, 172);
    border-radius: 5px;
}


















































.mainList{
    list-style: none;
    
}

.mainList li{
    font-size: 1rem;
    padding: 8px;
    text-transform: capitalize;
    color: rgb(116, 116, 116);
    cursor: pointer;
}

li.activ{
    color:var(--second-color);
}







