@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;900&display=swap');
*{
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color:#17181a;
    --scond-color: #fd3815;
    --whi-color: #fff;
    --p-color :  #6d6d6d;
}

body{

    position: relative;
    font-family: 'Cairo', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
/*================= start navbar======================*/
nav{
    width: 100%;
    height: 0px;
    background-color: #474747; 
}
nav .top-nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .top-nav .bars{
    font-size: 1.8rem;
    color: var(--scond-color);
    cursor: pointer;
    display: none;
}
nav .logo{
    width: 20%;
    
}
nav .logo a{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--whi-color);;
}
nav .logo span{
    color: var(--scond-color);
}
nav .links{
    width: 70%;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .links li{
    display: inline-block;
    margin-right: 20px
}
nav .links li a{
    display:inline-block ;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--whi-color);
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    
}
nav .links li.active a{
    color: var(--scond-color);
}
nav .links li a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width:0%;
    height: 2px;
    background-color: var(--scond-color);
    transition: .3s ease-in-out;
}
nav .links li a:hover::before{
    width: 100%;
}

nav .top-social{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .top-social a{
    color: var(--whi-color);
    font-size: 1.2rem;
    transition: color .2s ease-in-out;
}

nav .top-social a:hover{
    color: var(--scond-color);
    
}
/*================= end navbar======================*/
/*================= start header======================*/
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0, .7),
                                rgba(0,0,0, .7)),
                                url("../img/header2.jpg");
    background-position:center;
    background-size:cover;
}
header .text-header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
header .text-header p{
    font-size: 25px;
    color: var(--p-color);
}
header .text-header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 5rem;
    padding: 40px 0;
    color: var(--whi-color);
}
header .link{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .link p{
    text-transform: uppercase;
    color: var(--whi-color);
    font-weight: 400;
}
header .link a{
    color: var(--scond-color);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid var(--scond-color);
    padding: 10px 20px;
    transition:  .4s ease-in-out;
}
header .link a:hover{
    background-color: var(--scond-color);
    color: black;
    border-radius: 10px;
}
/*================= end header======================*/

/*================= start section1======================*/
.work{
    width: 100%;
    height: 600px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.work h2{
    color: var(--whi-color);
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.work .new-gymso{
    width: 40%;
}
.work .new-gymso h4{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}
.work .new-gymso h4 span{
    text-transform: uppercase;
    font-size: 22px;
}
.work .new-gymso p{
    color: var(--p-color);
    margin-bottom: 20px; 
}
.work .new-gymso a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--scond-color);
    padding: 10px 150px;
    transition: .3s ease-in-out;
    position: relative;
    
}
.work .new-gymso a span{
    position: relative;
    z-index: 1;
    color: black;
    transition: .5s linear;
}
.work .new-gymso a:hover span{
    color: #fff;
}
.work .new-gymso a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #c01d00;
    top: 0;
    left: 0;
    transition: .5s linear;
}
.work .new-gymso a:hover:before{
    color: black;
    width: 100%;
}
.work .work-time{
    width: 30%;
    position: relative;
}
.work .work-time p{
   color: var(--whi-color);
   font-size: 1.3rem;
   font-weight: 100;
}
.work .work-time span{
    color: var(--p-color);
}
.work .work-time::before{
    content: "";
    position: absolute;
    left: -70px;
    width: 1px;
    height:210px ;
    background-color: #2b2c2f;
}
/*================= end section1======================*/
.block{
    /* height: 1000px; */
    text-align: center;
}

/*================= start about======================*/
#about{
    width: 100%;
    height: 580px;
    background-color: #f9f9f9 ;
    display: flex;
    align-items: center;
}
#about .content{
    width: 100%;
    height: 400px;
    /* background-color: #f17d7d ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about .content .info{
    width: 40%;
    height: 400px;
    /* background-color: #7df17d ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#about .content .info h2{
    text-transform: capitalize;
    text-align: left;
}
#about .content .info p{
    color: var(--p-color);
    width: 80%;
    text-align: left;
    padding: 10px 0;
}
#about .content .info p span{
    text-transform: uppercase;
    font-size: 16px;
    color: var(--main-color);
}
#about .content .box-card{
    width: 60%;
    height: 400px;
    /* background-color: #edf84f ; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#about .content .box-card .card{
    width: 40%;
    /* height: 350px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* border:1px solid #ff0000 ; */
    position: relative;
    overflow: hidden;
}

.box-card .card:first-child .overlay{
    position: absolute;
    top: 0;
    left: -300px;
    width: 100%;
    height: 280px;
    background-color: rgba(0,0,0, .7);
    transition: .5s linear;
}
.box-card .card:hover .overlay{
    left: 0px;
}



.box-card .card:last-child .overlay{
    position: absolute;
    top: -300px;
    right: 0;
    width: 100%;
    height: 280px;
    background-color: #fd3815b0;
    transition: .5s linear;
}
.box-card .card:hover .overlay{
    top: 0
}

.box-card .card .overlay p{
    padding: 20px 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#about .content .box-card .card img{
    width: 100%;
    height: 280px; 
}

.content .box-card .card .card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;

}
.card .card-title .head{
    text-align: left;
}

.card .card-title .body a{
    display: block;
    font-size: 18px;
    color: var(--main-color);

}
/*================= end about======================*/

/*================= start classes======================*/

#classes{
    height: 700px;
    background-color: #fff;
    padding: 50px 0;
}
.class-head{
    width: 50%;
    margin:25px auto;
}

.class-head p{
    color: #ccc;
    text-transform: capitalize;
    font-size: 16px;
}
.class-head h2{
    font-size: 30px;
    text-transform: capitalize;
}
.class-item{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
}
.class-item .class-card{
    width: 350px;
    min-height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.class-card .red-circle{
    position: absolute;
    right: 20px;
    bottom: 120px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--scond-color);
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
}
.class-item .class-card img{
    width: 100%;
    height: 230px;
    display: block;
}
.class-card-body{
    width: 100%;
    height: 180px;
    background-color: #fff;
    text-align: left;
    padding-left: 10px;
}

.class-card-body h3{
    text-transform: capitalize;
    font-size: 1.5rem;
}
.class-card-body span{
    text-transform: capitalize;
    color: #bbb;
    font-style: italic;
}
.class-card-body p{
    text-transform: capitalize;
    color: #808080;
    
}
/*================= end classes======================*/

/*================= START  scheddules======================*/
#scheddules{
    width: 100%;
    height: 700px;
    background-color: var(--main-color);
}

.head-sched{
    padding-top: 100px;
}
.head-sched h3{
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 30px;
}
.head-sched p{
    color: #908a98;
    font-size: 1.2rem;
    margin-bottom: -15px;
}
table td{
    width: 170px;
    height: 60px;
    background-color: var(--scond-color);
    color: #f9f9f9;
}
table td h3{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: -8px;
}
table td p{
    font-size: 14px;
    color: #908a98;
}
thead td{
    font-size: 18px;
    text-transform: uppercase;
}
tbody td:not(:first-child){
    width: 170px;
    height: 60px;
    background-color: rgb(34, 33, 33);
    color: #f9f9f9;
}
/*================= end scheddules======================*/

/*================= start form======================*/

.form{
    width: 100%;
    height: 600px;
    /* background-color: #bdbdbd; */
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.form .map{
    height: 355px;
} 
.form .info h1,
.form .map h1{
    text-align: left;
    font-weight: 600;
    font-size: 30px;
}


.form .info input,
.form .info textarea{
    display: block;
    width: 450px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(110, 110, 110);
    
}
.form .info input:last-child{
    background-color: #000000;
    color: #f9f9f9;
    cursor: pointer;
}

.form .map .fa-map-marker-alt{
    color: crimson;
}
.form .map p{
    text-align: left;
    padding-bottom: 10px;
}

.form .map .img{
    width: 450px;
    height: 200px;
}
.form .map .img img{
    width: 100%;
    margin-top: 10px;
}
/*================= end form======================*/

/*================= start footer======================*/
footer{
    width: 100%;
    height: 60px;
    
    background-color: var(--main-color);
    color: #ccc;
}

footer .foot{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .foot .con{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
footer .foot .con .fa-phone-alt,
footer .foot .con .fa-envelope {  
    color: #fd3815;
}
/*================= end footer======================*/

.chevron-top{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--scond-color);
    text-align: center;
    line-height: 30px;
    display: none;
}
.chevron-top .fa-chevron-up{
    font-size: 20px;
    cursor: pointer;
    
}